.applications {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

    .applications .tile-link {
        color: initial;
        text-decoration: none;
    }

    .applications .tile {
        min-width: 250px;
        min-height: 250px;
        background-color: #FEEDD1;
        border: 1px solid #F6F8F8;
        border-radius: 7px;

        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

        .applications .tile:hover {
            border-color: #D1D3D4;
            box-shadow: 0 0 24px #FAA61A;
            cursor: pointer;
        }

        .applications .tile .title {
            font-family: metronic-pro, 'Segoe UI', segoe-ui, Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 600;
        }

        .applications .tile:hover .title {
            font-size: large;
        }