.custom-button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    background-image: none;
    border-radius: 0;
}

    .custom-button.primary {
        background-color: var(--primary-darkred-color);
        color: white;
    }