/* Key-frames for animations */
@-webkit-keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

@-webkit-keyframes slide-show {
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-show {
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes slide-in-left {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-in-left {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes slide-in-right {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-in-right {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/* Icons variables to draw SVGs */
.notify.top-left,
.notify.top-right,
.notify.bottom-right,
.notify.bottom-left {
    --icon-notice: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 3.984c4.407 0 8.016 3.609 8.016 8.016 0 4.406-3.608 8.016-8.016 8.016S3.984 16.407 3.984 12 7.593 3.984 12 3.984m0-2C6.478 1.984 1.984 6.477 1.984 12c0 5.521 4.493 10.016 10.016 10.016S22.016 17.522 22.016 12c0-5.523-4.495-10.016-10.016-10.016zm0 2c4.407 0 8.016 3.609 8.016' fill='%23077CB2'/%3E%3Cpath d='M11.016,6.984V9h1.968V6.984H11.016z M11.016,17.016h1.968v-6h-1.968V17.016z' fill='%23077CB2'/%3E%3C/svg%3E");
    --icon-warning: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 3.984c4.407 0 8.016 3.609 8.016 8.016 0 4.406-3.608 8.016-8.016 8.016S3.984 16.407 3.984 12 7.593 3.984 12 3.984m0-2C6.478 1.984 1.984 6.477 1.984 12c0 5.521 4.493 10.016 10.016 10.016S22.016 17.522 22.016 12c0-5.523-4.495-10.016-10.016-10.016zm0 2c4.407 0 8.016 3.609 8.016' fill='%23C19100'/%3E%3Cpath d='M11.016,17.016h1.968V15h-1.968V17.016z M11.016,6.983v6.001h1.968V6.983H11.016z' fill='%23C19100'/%3E%3C/svg%3E");
    --icon-error: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 3.984c4.407 0 8.016 3.609 8.016 8.016 0 4.406-3.608 8.016-8.016 8.016S3.984 16.407 3.984 12 7.593 3.984 12 3.984m0-2C6.478 1.984 1.984 6.477 1.984 12c0 5.521 4.493 10.016 10.016 10.016S22.016 17.522 22.016 12c0-5.523-4.495-10.016-10.016-10.016zm0 2c4.407 0 8.016 3.609 8.016' fill='%23C71612'/%3E%3Cpath d='M13.406,12l2.578,2.578l-1.406,1.406L12,13.406l-2.578,2.578l-1.406-1.406L10.594,12L8.016,9.421l1.406-1.405L12,10.593 l2.578-2.577l1.406,1.405L13.406,12z' fill='%23C71612'/%3E%3C/svg%3E");
    --icon-success: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 3.984c4.407 0 8.016 3.609 8.016 8.016 0 4.406-3.608 8.016-8.016 8.016S3.984 16.407 3.984 12 7.593 3.984 12 3.984m0-2C6.478 1.984 1.984 6.477 1.984 12c0 5.521 4.493 10.016 10.016 10.016S22.016 17.522 22.016 12c0-5.523-4.495-10.016-10.016-10.016zm0 2c4.407 0 8.016 3.609 8.016' fill='%233A813D'/%3E%3Cpath d='M10.477,13.136l5.085-5.085l1.406,1.406l-6.492,6.492l-3.446-3.445l1.406-1.406L10.477,13.136z' fill='%233A813D'/%3E%3C/svg%3E");
    --icon-question: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 3.984c4.407 0 8.016 3.609 8.016 8.016 0 4.406-3.608 8.016-8.016 8.016S3.984 16.407 3.984 12 7.593 3.984 12 3.984m0-2C6.478 1.984 1.984 6.477 1.984 12c0 5.521 4.493 10.016 10.016 10.016S22.016 17.522 22.016 12c0-5.523-4.495-10.016-10.016-10.016zm0 2c4.407 0 8.016 3.609 8.016' fill='%23513F39'/%3E%3Cpath d='M12.001,6.314h-0.002c-1.996,0-3.609,1.614-3.609,3.609h1.784c0-0.977,0.85-1.784,1.826-1.784  c0.977,0,1.827,0.807,1.827,1.784c0,1.826-2.718,1.614-2.718,4.544h1.784c0-2.038,2.717-2.294,2.717-4.544  C15.609,7.928,13.997,6.314,12.001,6.314z M11.109,17.186h1.784v-1.826h-1.784V17.186z' fill='%23513F39'/%3E%3C/svg%3E");
}

/* General setting of notification boxes */
.notify {
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
    line-height: 1.3;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
}

/* Positioning of the boxes, colors, icons and corresponding animations */
    .notify.top-left {
        top: 0;
        left: 0;
        margin: 20px;
        max-width: 350px;
        -webkit-transform: translateX(-420px);
                transform: translateX(-420px);
    }

        .notify.top-left.do-show {
            animation: slide-in-left 1s ease-in-out forwards, slide-in-left 1s ease-in-out reverse forwards 5s;
        }

        .notify.top-left[data-notification-status="notice"] {
            background-color: #29B6F6;
        }

            .notify.top-left[data-notification-status="notice"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-notice) center/cover no-repeat;
            }

        .notify.top-left[data-notification-status="warning"] {
            background-color: #FFCA28;
        }

            .notify.top-left[data-notification-status="warning"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-warning) center/cover no-repeat;
            }

        .notify.top-left[data-notification-status="error"] {
            background-color: #EF5350;
        }

            .notify.top-left[data-notification-status="error"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-error) center/cover no-repeat;
            }

        .notify.top-left[data-notification-status="success"] {
            background-color: #66BB6A;
        }

            .notify.top-left[data-notification-status="success"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-success) center/cover no-repeat;
            }

        .notify.top-left[data-notification-status="question"] {
            background-color: #8D6E63;
        }

            .notify.top-left[data-notification-status="question"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-question) center/cover no-repeat;
            }

        .notify.top-left[data-notification-status="plain"] {
            background-color: #333;
        }

    .notify.top-right {
        top: 0;
        right: 0;
        margin: 20px;
        max-width: 350px;
        visibility: hidden;
        opacity: 0;
    }

        .notify.top-right.do-show {
            animation: fade-in 1s ease-in-out forwards, fade-in 1s ease-in-out reverse forwards 3s;
        }

        .notify.top-right[data-notification-status="notice"] {
            background-color: #29B6F6;
        }

            .notify.top-right[data-notification-status="notice"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-notice) center/cover no-repeat;
            }

        .notify.top-right[data-notification-status="warning"] {
            background-color: #FFCA28;
        }

            .notify.top-right[data-notification-status="warning"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-warning) center/cover no-repeat;
            }

        .notify.top-right[data-notification-status="error"] {
            background-color: #EF5350;
        }

            .notify.top-right[data-notification-status="error"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-error) center/cover no-repeat;
            }

        .notify.top-right[data-notification-status="success"] {
            background-color: #66BB6A;
        }

            .notify.top-right[data-notification-status="success"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-success) center/cover no-repeat;
            }

        .notify.top-right[data-notification-status="question"] {
            background-color: #8D6E63;
        }

            .notify.top-right[data-notification-status="question"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-question) center/cover no-repeat;
            }

        .notify.top-right[data-notification-status="plain"] {
            background-color: #333;
        }

    .notify.bottom-right {
        right: 0;
        bottom: 0;
        margin: 20px;
        max-width: 350px;
        -webkit-transform: translateX(420px);
                transform: translateX(420px);
    }

        .notify.bottom-right.do-show {
            animation: slide-in-right 1s ease-in-out forwards, slide-in-right 1s ease-in-out reverse forwards 3s;
        }

        .notify.bottom-right[data-notification-status="notice"] {
            background-color: #29B6F6;
        }

            .notify.bottom-right[data-notification-status="notice"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-notice) center/cover no-repeat;
            }

        .notify.bottom-right[data-notification-status="warning"] {
            background-color: #FFCA28;
        }

            .notify.bottom-right[data-notification-status="warning"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-warning) center/cover no-repeat;
            }

        .notify.bottom-right[data-notification-status="error"] {
            background-color: #EF5350;
        }

            .notify.bottom-right[data-notification-status="error"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-error) center/cover no-repeat;
            }

        .notify.bottom-right[data-notification-status="success"] {
            background-color: #66BB6A;
        }

            .notify.bottom-right[data-notification-status="success"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-success) center/cover no-repeat;
            }

        .notify.bottom-right[data-notification-status="question"] {
            background-color: #8D6E63;
        }

            .notify.bottom-right[data-notification-status="question"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-question) center/cover no-repeat;
            }

        .notify.bottom-right[data-notification-status="plain"] {
            background-color: #333;
        }

    .notify.bottom-left {
        left: 0;
        bottom: 0;
        margin: 20px;
        max-width: 350px;
        opacity: 0;
        visibility: hidden;
    }

        .notify.bottom-left.do-show {
            animation: fade-in 1s ease-in-out forwards, fade-in 1s ease-in-out reverse forwards 3s;
        }

        .notify.bottom-left[data-notification-status="notice"] {
            background-color: #29B6F6;
        }

            .notify.bottom-left[data-notification-status="notice"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-notice) center/cover no-repeat;
            }

        .notify.bottom-left[data-notification-status="warning"] {
            background-color: #FFCA28;
        }

            .notify.bottom-left[data-notification-status="warning"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-warning) center/cover no-repeat;
            }

        .notify.bottom-left[data-notification-status="error"] {
            background-color: #EF5350;
        }

            .notify.bottom-left[data-notification-status="error"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-error) center/cover no-repeat;
            }

        .notify.bottom-left[data-notification-status="success"] {
            background-color: #66BB6A;
        }

            .notify.bottom-left[data-notification-status="success"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-success) center/cover no-repeat;
            }

        .notify.bottom-left[data-notification-status="question"] {
            background-color: #8D6E63;
        }

            .notify.bottom-left[data-notification-status="question"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-question) center/cover no-repeat;
            }

        .notify.bottom-left[data-notification-status="plain"] {
            background-color: #333;
        }

    .notify.bar-top {
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }

        .notify.bar-top.do-show {
            animation: slide-show 1s forwards, slide-show 1s reverse forwards 3s;
        }

        .notify.bar-top[data-notification-status="notice"] {
            background-color: #29B6F6;
        }

            .notify.bar-top[data-notification-status="notice"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-notice) center/cover no-repeat;
            }

        .notify.bar-top[data-notification-status="warning"] {
            background-color: #FFCA28;
        }

            .notify.bar-top[data-notification-status="warning"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-warning) center/cover no-repeat;
            }

        .notify.bar-top[data-notification-status="error"] {
            background-color: #EF5350;
        }

            .notify.bar-top[data-notification-status="error"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-error) center/cover no-repeat;
            }

        .notify.bar-top[data-notification-status="success"] {
            background-color: #66BB6A;
        }

            .notify.bar-top[data-notification-status="success"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-success) center/cover no-repeat;
            }

        .notify.bar-top[data-notification-status="question"] {
            background-color: #8D6E63;
        }

            .notify.bar-top[data-notification-status="question"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-question) center/cover no-repeat;
            }

        .notify.bar-top[data-notification-status="plain"] {
            background-color: #333;
        }

    .notify.bar-bottom {
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
    }

        .notify.bar-bottom.do-show {
            animation: fade-in 1s ease-in-out forwards, fade-in 1s ease-in-out reverse forwards 3s;
        }

        .notify.bar-bottom[data-notification-status="notice"] {
            background-color: #29B6F6;
        }

            .notify.bar-bottom[data-notification-status="notice"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-notice) center/cover no-repeat;
            }

        .notify.bar-bottom[data-notification-status="warning"] {
            background-color: #FFCA28;
        }

            .notify.bar-bottom[data-notification-status="warning"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-warning) center/cover no-repeat;
            }

        .notify.bar-bottom[data-notification-status="error"] {
            background-color: #EF5350;
        }

            .notify.bar-bottom[data-notification-status="error"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-error) center/cover no-repeat;
            }

        .notify.bar-bottom[data-notification-status="success"] {
            background-color: #66BB6A;
        }

            .notify.bar-bottom[data-notification-status="success"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-success) center/cover no-repeat;
            }

        .notify.bar-bottom[data-notification-status="question"] {
            background-color: #8D6E63;
        }

            .notify.bar-bottom[data-notification-status="question"]:before {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin-right: 20px;
                background: var(--icon-question) center/cover no-repeat;
            }

        .notify.bar-bottom[data-notification-status="plain"] {
            background-color: #333;
        }