:root {
    --load-bar-height: 16px;
    --nav-bar-height: 64px;
}

html,
body {
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.load-bar {
    background: linear-gradient(90deg, var(--pcm-red) 0%, var(--pcm-pink) 100%);
    height: var(--load-bar-height);
    width: 100%;
}

.navbar {
    position: relative;
    height: var(--nav-bar-height);
    background-color: var(--general-text-black010);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

    .navbar .logo {
        width: 164px;
    }

    .navbar section:last-child {
        display: flex;
        align-items: center;
    }

    .navbar .user-data {
        font-size: 10pt;
        padding-right: 1em;
    }

    .navbar .settings {
        font-size: 24pt;
        color: var(--pcm-red);
        cursor: pointer;
    }

.content-area {
    display: flex;
    height: calc(100vh - var(--load-bar-height) - var(--nav-bar-height));
}

a.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;

    margin: 2px 0;

    border: solid 1px transparent;
    border-radius: 4px;

    padding: .5em 1em;

    color: initial;
    background-color: #DDD;
}



/* Bootstrap parts */



    .navbar .container {
        height: 40px;
        padding-right: 10rem;
        padding-left: 2rem;
        flex-grow: 1;

        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .navbar .container .logo {
        height: 40px;
        width: 164px;
        background: center url('../Images/logo.png') no-repeat;
        background-size: contain;
    }

    .navbar .container .avatar {
        width: 40px;
        height: 40px;
    }

        .navbar .container .dropdown .dd-menu li a {
            display: block;
            margin: -10px -20px;
            padding: 10px 20px;
            text-decoration: none;
            color: inherit;
            text-transform: uppercase;
            font-family: metronic-pro, 'Segoe UI', segoe-ui, Tahoma, Verdana, Geneva, sans-serif;
            font-size: 10pt;
        }

.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
    z-index: 10;
}