@using System.Security.Claims;
@using System.Security.Principal;

@using OAuthServer.Extensions;
@using OAuthServer.Content.Languages;

@{ 
    var identity = (IIdentity)User.Identity;
    var userNameFirst = identity.GetClaimValue<string>(ClaimTypes.Name);
    var userNameLast = identity.GetClaimValue<string>(ClaimTypes.Surname);
}

<div class="load-bar"></div>
<div class="navbar">
    <section>
        <a href="Applications/Index">
            <img class="logo" src="~/Content/Images/logo.png" alt="PCM" />
            @*<div class="logo"></div>*@
        </a>
    </section>

    <section>
        <div class="user-data">
            <span>@userNameFirst</span>
            <span>@userNameLast</span>
        </div>
        <div class="settings">
            <span class="pcm-ol-optionen"></span>
        </div>
    </section>
</div>
