<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="DB" value="SQLDB" />
  <add key="SMTP" value="smtp.server.com;1234;user@domain.com;Pa$$w0rd;true"/>
  <add key="PCM-EMail" value="service@domain.com"/>
  
  <!-- Applications -->
  <add key="erp" value="ERP;http://localhost:4201"/>
  <add key="ecare" value="e@Care;https://pcm-ecare.azurewebsites.net"/>
  <add key="mt" value="MT;https://procareline.com/mt"/>
  <add key="srm" value="SRM;http://localhost:4201"/>
  <add key="dcc" value="DCC;http://localhost:4201"/>
</appSettings>
